.header {
    align-items: center;
    padding: 20px 20px 5px;
}

.header__logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: flex;
    align-items: center;
    
}

.header__nav-link {
    margin-right: 20px;
    text-decoration: none;
    border: 1px solid black;
    padding: 4px 8px;
    background-color: #f7f7f7;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    font-size: 14px;
    
}

.header__nav-button {
    padding: 4px 8px;
    background-color: f7f7f7;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    border: 1px solid black;
    
    /* ホバー時のカーソルをポインタに */
}

.header__line {
    height: 3px;
    background: linear-gradient(to right, #A3a6e1, #fdabd9);
}



/* ページネーション全体のスタイル */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* ページネーションリンクのスタイル */
.pagination a,
.pagination span {
    display: inline-block;
    padding: 8px 16px;
    margin: 0 4px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
}

/* アクティブなページのスタイル */
.pagination .active {
    color: white;
    background: linear-gradient(to right, #A3a6e1, #fdabd9);
    border-radius: 5px;
}

/* ホバー時のスタイル */
.pagination a:hover {
    color: white;
    background: grey;
}

/* 非アクティブページリンクのスタイル */
.pagination .disabled {
    color: #ccc;
    pointer-events: none;
}

/* 最初と最後のページリンクのスタイル */
.pagination .first,
.pagination .last {
    font-weight: bold;
}

/* ページネーション内の矢印 */
.pagination .prev,
.pagination .next {
    padding: 8px 12px;
    font-weight: bold;
    color: #007bff;
}

/* 直前、次への矢印をホバーした際のスタイル */
.pagination .prev:hover,
.pagination .next:hover {
    background-color: #f1f1f1;
}