/* モーダルの背景オーバーレイ */
.modal {
    display: none;
    /* 初期状態は非表示 */
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(192, 190, 190, 0.5);
    /* 半透明の黒背景 */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal:target {
    display: flex;
    /* モーダルがターゲットされると表示 */
}

/* モーダルの内容部分 */
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    margin: 20px auto;
    margin-top: 100px;
    margin-bottom: 100px;
}


/* モーダルのタイトル */
.modal__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* モーダルのフォームラベル */
.modal__label {
    display: block;
    font-size: 16px;
    margin-top: 8px;
}

/* 必須マーク */
.modal__required {
    color: white;
    background-color: red;
    border-radius: 3px;
    font-size: 10px;
    padding: 3px;
    margin-left: 5px;
    margin-bottom: 5px;
}

/* モーダルの入力フィールド */
.modal__input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.modal__input--unit{
    width: 20%;
    text-align: center;
    padding-left: 10px;
}

.modal__input--with-unit{
    display: flex;
}

/* エラーメッセージ */
.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

/* モーダルの送信ボタン */
.modal__submit-button {
    background: linear-gradient(to right, #A3a6e1, #fdabd9);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    font-size: 16px;
    margin-left: 20%;
}

.modal__submit-button:hover {
    background: pink;
}

/* モーダルのオーバーレイ部分 */
.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* 半透明の黒背景 */
}

/* モーダルを閉じるためのリンク */
.close-modal {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 18px;
    color: #000;
    text-decoration: none;
}

.close-modal:hover {
    color: #ff0000;
}

/* モーダル内のリンクを閉じるボタン */
.weight-log__open-modal {
    text-decoration: none;
    background-color: #007bff;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
}

.weight-log__open-modal:hover {
    background-color: #0056b3;
}

/* レスポンシブデザイン：モーダルが小さい画面でも見やすく */
@media (max-width: 600px) {
    .modal-content {
        width: 90%;
        padding: 15px;
    }

    .modal__title {
        font-size: 20px;
    }

    .modal__input--left {
        font-size: 14px;
    }

    .modal__submit-button {
        font-size: 14px;
    }
}