.body {
    background: linear-gradient(135deg, #e1d3f6, #ffd1d3, #fa86b7);
    min-height: 100vh;
}

.register-form {
    background-color: white;
    border-radius: 30px;
    padding: 30px;
    width: 50%;
    margin: 60px auto;
    text-align: center;
}

.register-form__title {
    font-size: 30px;
    margin: 0px;
}

.register-form__step{
    margin: 0px auto 30px;
}

.register-form__container{
    
    padding: 0 20px;
    align-items: center;
}

.register-form__label{
    display: block;
    margin-top: 20px;
    font-weight: bold;
    text-align: left;
}

.register-form__input{
    width: 100%;
    padding: 10px;
    border: 1px solid #e1d3f6;
    border-radius: 4px;
}

.register-form__error{
    color: red;
    font-size: 14px;
    text-align: left;
}

.register-form__button,
.register-form__link {
    margin: 20px auto 10px;
}

.register-form__button {
    display: block;
    width: 150px;
    padding: 10px;
    background: linear-gradient(to right, #A3a6e1, #fdabd9);
    color: white;
    border: none;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}

.register-form__link {
    text-decoration: none;
    color: #86a8e7;
    text-decoration: underlinep;
}

.register-form__input-wrapper{
    display: flex;
    align-items: center;
}

.register-form__unit {
    font-weight: normal;
    color: #333;
    width: 10%;
}